# Образец. Настоящие значения кладутся в секреты Supabase командой `supabase secrets set`
# (см. README), в репозиторий их не коммитим.
BOT_TOKEN=            # токен от @BotFather
WEBHOOK_SECRET=       # любая длинная случайная строка (латиница и цифры)
MINIAPP_URL=          # https://ИМЯ.github.io/ИМЯ-РЕПОЗИТОРИЯ/
ALLOWED_ORIGIN=       # https://ИМЯ.github.io  (необязательно)
